<div class="flex p-4 justify-between content-center items-center bg-pink-800 text-white sticky top-0">
  <% if admin_signed_in? || user_signed_in? %>
    <h3 class="font-bold text-3xl">Compilados - Admin</h3>
  <% else %>
    <h3 class="font-bold text-3xl">Compilados</h3>
  <% end %>
  <ul class="flex gap-8 ">
    <li class="hover:font-bold hover:scale-125 cursor-pointer">
      <%= link_to 'Home', home_welcome_index_path %>
    </li>
    <li class="hover:font-bold hover:scale-125 cursor-pointer">Compilados</li>
    <li class="hover:font-bold hover:scale-125 cursor-pointer">Contribua</li>
    <% if user_signed_in? %> <!-- Verifica se o usuário está logado -->
      <li class="hover:font-bold hover:scale-125 cursor-pointer">
        <%= link_to 'Logoff', destroy_user_session_path, data: { "turbo-method": :delete } %>
      </li>
    <% else %>
      <li class="hover:font-bold hover:scale-125 cursor-pointer">
        <%= link_to 'Login', users_backoffice_welcome_index_path %>
      </li>
    <% end %>
  </ul>
</div>