<div class="flex p-10 justify-between content-center items-center bg-pink-800 text-white">
  <h3 class="font-bold text-3xl">Compilados</h3>
  <ul class="flex gap-8 ">
    <li class="hover:font-bold hover:scale-125 cursor-pointer">Home</li>
    <li class="hover:font-bold hover:scale-125 cursor-pointer">Compilados</li>
    <li class="hover:font-bold hover:scale-125 cursor-pointer">Contribua</li>
    <li class="hover:font-bold hover:scale-125 cursor-pointer">Login</li>
  </ul>
</div>