<div class="flex justify-between content-center md:container md:mx-auto ">
  <div>
    <p>
      Bem vindo(a) ao,
    </p>
    <h1 class="text-5xl font-bold">
      Compilados
    </h1>
    <p>
      Contribua com seu compilado
    </p>
    <button class="bg-pink-800 p-3 font-bold text-white rounded-lg hover:scale-105">Contribua</button>
  </div>
  <%= image_tag('img_home') %>
  
</div>
